body {
  font-family: sans-serif;
  height: 1200px;
  overflow: -moz-scrollbars-none !important;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-moz-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#herosection {
  padding: 30px 50px;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.416), rgba(255, 255, 255, 0.726)), url(../image/bg2.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#herosection .nav {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}
#herosection .nav nav ul {
  display: flex;
}
#herosection .nav nav ul li a {
  font-size: 18px;
  border-bottom: 2px;
  padding: 5px 20px;
}
#herosection .nav nav ul li a:hover {
  color: rgb(7, 15, 56);
}
#herosection .nav .nav-icons {
  display: flex;
  width: 150px;
  justify-content: end;
}
#herosection .nav .nav-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 126, 126);
  background: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  background: rgb(44, 43, 43);
}
#herosection .nav .nav-icons .icon:first-child {
  margin-right: 10px;
}
#herosection .logo {
  width: 700px;
}
#herosection #plane {
  position: absolute;
  top: 200px;
  left: 500px;
  width: 500px;
}
#herosection .plane-text {
  color: white;
  text-align: center;
}
#herosection .plane-text h1 {
  font-size: 48px;
}
#herosection .plane-text p {
  font-size: 24px;
}
#herosection .plane-text button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}
#herosection .hero-footer {
  display: flex;
  justify-content: space-between;
}
#herosection .hero-footer .hero-footer-left {
  font-size: 20px;
  font-weight: 600;
}
#herosection .btn {
  color: white;
  font-weight: 700;
  padding: 10px 30px;
  background: #000;
  border-radius: 25px;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.features {
  margin-top: 20px;
}
.features .row div {
  padding: 10px;
}
.features .row div div {
  border-top: 1px solid;
}
.features .row div h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.features .row div p {
  color: rgb(109, 108, 108);
  font-size: 1.1rem;
  font-weight: 400;
}

.service-section .row .service {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease;
}
.service-section .row .service span {
  font-size: 2rem;
}
.service-section .row .service p,
.service-section .row .service span {
  display: none;
}
.service-section .row .service:hover span {
  display: inline-block;
}
.service-section .row .service:hover p {
  display: inline-block;
}
.service-section .row .col-4:first-child {
  background: #151623;
  color: white;
}
.service-section .row .col-4:first-child .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-section .row .col-4:first-child .service h1 {
  font-size: 3rem;
  font-weight: 600;
}
.service-section .row .col-4:first-child .service p {
  font-size: 1.2rem;
  font-weight: 600;
}
.service-section .row .col-4:first-child .service .btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}
.service-section .row .col-4:first-child .service .btn:hover {
  background: #fff;
  color: #000;
}
.service-section .row .col-4:nth-child(2) {
  background: url(../image/service-plane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20px center;
}
.service-section .row .col-4:last-child {
  background: #BC7155;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20px center;
}
.service-section .row .col-4:last-child .svg {
  padding-bottom: 60px;
}/*# sourceMappingURL=main.css.map */