body {
  font-family: sans-serif;
  height: 1200px;
  overflow: -moz-scrollbars-none !important;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-moz-scrollbar {
  display: none;
}

img {
  max-width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#herosection {
  padding: 30px 50px;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.416), rgba(61, 248, 248, 0.416), rgb(255, 255, 255) 80%), url(../image/bg2.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#herosection .nav {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}
#herosection .nav nav ul {
  display: flex;
}
#herosection .nav nav ul li a {
  font-size: 18px;
  border-bottom: 2px;
  padding: 5px 20px;
}
#herosection .nav nav ul li a:hover {
  color: rgb(7, 15, 56);
}
#herosection .nav .nav-icons {
  display: flex;
  width: 150px;
  justify-content: end;
}
#herosection .nav .nav-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 126, 126);
  background: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  background: rgb(44, 43, 43);
}
#herosection .nav .nav-icons .icon:first-child {
  margin-right: 10px;
}
#herosection .logo {
  width: 700px;
}
#herosection #plane {
  position: absolute;
  top: 200px;
  left: 500px;
  width: 500px;
}
#herosection .plane-text {
  color: white;
  text-align: center;
}
#herosection .plane-text h1 {
  font-size: 48px;
}
#herosection .plane-text p {
  font-size: 24px;
}
#herosection .plane-text button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}
#herosection .hero-footer {
  display: flex;
  justify-content: space-between;
}
#herosection .hero-footer .hero-footer-left {
  font-size: 20px;
  font-weight: 600;
}
#herosection .btn {
  color: white;
  font-weight: 700;
  padding: 10px 30px;
  background: #000;
  border-radius: 25px;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.features {
  margin-top: 20px;
}
.features .row div {
  padding: 10px;
}
.features .row div div {
  border-top: 1px solid;
}
.features .row div h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.features .row div p {
  color: rgb(109, 108, 108);
  font-size: 1.1rem;
  font-weight: 400;
}

.service-section .row .service {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease;
}
.service-section .row .service span {
  font-size: 2rem;
}
.service-section .row .service p,
.service-section .row .service span {
  display: none;
}
.service-section .row .service:hover span {
  display: inline-block;
}
.service-section .row .service:hover p {
  display: inline-block;
}
.service-section .row .col-4:first-child {
  background: #151623;
  color: white;
}
.service-section .row .col-4:first-child .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-section .row .col-4:first-child .service h1 {
  font-size: 3rem;
  font-weight: 600;
}
.service-section .row .col-4:first-child .service p {
  font-size: 1.2rem;
  font-weight: 600;
}
.service-section .row .col-4:first-child .service .btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}
.service-section .row .col-4:first-child .service .btn:hover {
  background: #fff;
  color: #000;
}
.service-section .row .col-4:nth-child(2) {
  background: url(../image/service-plane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20px center;
}
.service-section .row .col-4:last-child {
  background: #BC7155;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20px center;
}
.service-section .row .col-4:last-child .svg {
  padding-bottom: 60px;
}

.destination-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.destination-section .title {
  margin-bottom: 30px;
}
.destination-section .title h1 {
  font-size: 3rem;
  font-weight: 600;
}
.destination-section .destination-image img {
  width: 550px;
  border-radius: 0 0 40px 0;
}
.destination-section .place {
  display: flex;
  flex-wrap: wrap;
}
.destination-section .place .bt {
  border-top: 1px solid #ddd;
}
.destination-section .place .place-name {
  height: 100%;
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.destination-section .place .place-name .place-title {
  font-size: 1.7rem;
  font-weight: 600;
}
.destination-section .place .place-name .country-name {
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-radius: 0 0 40px;
}

.manager-section {
  background: #0F0F1C;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
}
.manager-section .row {
  height: 100%;
  width: 100%;
}
.manager-section .manager {
  height: 100%;
}
.manager-section .manager-left {
  background: #0F0F1C;
}
.manager-section .manager-right {
  background: #151623;
  padding: 40px;
}
.manager-section .manager-right h1 {
  font-weight: 600;
  font-size: 4vw;
}
.manager-section .manager-right P {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.experience {
  height: auto;
  padding: 3vw;
  margin: 3vw 0;
}
.experience .title {
  font-size: 11vw;
}
.experience .experience-card {
  margin-top: 3vw;
}
.experience .experience-card .experience-desc {
  width: 30vw;
}
.experience .experience-card .experience-desc p {
  font-size: 1.2vw;
}
.experience .experience-card .cards {
  display: flex;
}
.experience .experience-card .cards .icon-card {
  width: 100%;
  margin: 30px 0;
  width: 20vw;
}
.experience .experience-card .cards .icon-card:first-child {
  margin-top: 0;
}
.experience .experience-card .cards .icon-card:nth-child(2) {
  margin-top: 0;
}
.experience .experience-card .cards .icon-card span {
  border: 1px dashed rgb(155, 154, 154);
  width: 5.5vw;
  height: 5.5vw;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 40px 0;
  margin-bottom: 30px;
}
.experience .experience-card .cards .icon-card span i {
  font-size: 1.5vw;
}
.experience .experience-card .cards .icon-card h2 {
  font-weight: 600;
  font-size: 1.3vw;
}
.experience .experience-card .cards .icon-card p {
  font-family: "HelveticaNowDisplay", Arial, sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-align: left;
  color: rgb(109, 109, 109);
}
.experience .footer-left {
  font-size: 20px;
  margin-bottom: 3vw;
  font-weight: 600;
}
.experience .footer-left .btn {
  color: white;
  font-weight: 700;
  padding: 10px 30px;
  background: #000;
  border-radius: 25px;
}

.gallery-section {
  height: 100vh;
  margin: 100px auto;
}
.gallery-section .gallery-img {
  position: relative;
}
.gallery-section .gallery-img .next-prev-btn {
  position: absolute;
  bottom: 2vw;
  right: 3vw;
  font-weight: 700;
}
.gallery-section .gallery-img .next-prev-btn button {
  font-size: 3vw;
  background: rgba(51, 48, 48, 0.288);
  border: none;
  color: #fff;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
}
.gallery-section .gallery-img .next-prev-btn .next-btn {
  right: 2vw;
}
.gallery-section .gallery-img .next-prev-btn .prev-btn {
  right: 6vw;
}

.booking-section {
  height: 85vh;
  display: flex;
  align-items: center;
}
.booking-section .title h2 {
  font-weight: 600;
  margin-bottom: -1.5vw;
  color: rgb(160, 160, 160);
}
.booking-section .title a {
  font-size: 10vw;
  position: relative;
}
.booking-section .title a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0.8vw;
  background: #000;
  transform-origin: left;
  width: 0;
  transition: 300ms ease-in-out;
}
.booking-section .title a:hover::after {
  width: 100%;
}
.booking-section .title a:hover {
  color: #000;
}/*# sourceMappingURL=main.css.map */