body {
    font-family: sans-serif;
    height: 1200px;
    overflow: -moz-scrollbars-none !important;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-moz-scrollbar {
    display: none;
}

img {
    max-width: 100%;
}


body::-webkit-scrollbar {
    display: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

#herosection {
    padding: 30px 50px;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.416), rgba(61, 248, 248, 0.416), rgb(255, 255, 255) 80%), url(../image/bg2.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
        position: absolute;
        right: 50px;
        display: flex;
        align-items: center;

        nav {
            ul {
                display: flex;

                li {
                    a {
                        font-size: 18px;
                        border-bottom: 2px;
                        padding: 5px 20px;

                        &:hover {
                            color: rgb(7, 15, 56);
                        }
                    }

                }
            }
        }

        .nav-icons {
            display: flex;
            width: 150px;
            justify-content: end;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(128, 126, 126);
                background: #000;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                border: none;
                color: #fff;
                background: rgb(44, 43, 43);
            }

            .icon:first-child {
                margin-right: 10px;
            }
        }
    }

    .logo {
        width: 700px;
    }

    #plane {
        position: absolute;
        top: 200px;
        left: 500px;
        width: 500px;
    }

    .plane-text {
        color: white;
        text-align: center;
    }

    .plane-text h1 {
        font-size: 48px;
    }

    .plane-text p {
        font-size: 24px;
    }

    .plane-text button {
        background-color: blue;
        color: white;
        border: none;
        font-size: 16px;
        padding: 8px 16px;
        cursor: pointer;
    }

    .hero-footer {
        display: flex;
        justify-content: space-between;

        .hero-footer-left {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .btn {
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        background: #000;
        border-radius: 25px;
    }
}


// Feture section
.title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.features {

    margin-top: 20px;

    .row {

        div {
            padding: 10px;

            div {

                border-top: 1px solid;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: 600;
            }

            p {
                color: rgb(109, 108, 108);
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
}

// Service section

.service-section {
    .row {
        .service {
            height: 100vh;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: all 1s ease;

            span {
                font-size: 2rem;
            }

            p,
            span {
                display: none;
            }

            &:hover span {
                display: inline-block;
            }

            &:hover p {
                display: inline-block;
            }
        }

        .col-4:first-child {
            background: #151623;
            color: white;

            .service {
                h1 {
                    font-size: 3rem;
                    font-weight: 600;
                }

                p {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                .btn {
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 25px;
                    padding: 10px 20px;
                    font-weight: 1.4rem;
                    font-weight: 600;
                    margin-top: 10px;

                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .col-4:nth-child(2) {
            background: url(../image/service-plane.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -20px center;
        }

        .col-4:last-child {
            background: #BC7155;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -20px center;

            .svg {
                padding-bottom: 60px;
            }
        }
    }

}

// Destination
.destination-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .title {
        margin-bottom: 30px;

        h1 {
            font-size: 3rem;
            font-weight: 600;
        }
    }

    .destination-image {

        img {
            width: 550px;
            border-radius: 0 0 40px 0;
        }
    }

    .place {
        display: flex;
        flex-wrap: wrap;

        .bt {
            border-top: 1px solid #ddd;
        }

        .place-name {
            height: 100%;
            margin: 20px;
            margin-top: 0;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 10px;

            .place-title {
                font-size: 1.7rem;
                font-weight: 600;
            }

            .country-name {
                border-bottom: 2px solid #ddd;
                border-right: 2px solid #ddd;
                border-radius: 0 0 40px;
            }
        }

    }
}

// Manager section

.manager-section {
    background: #0F0F1C;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;

    .row {
        height: 100%;
        width: 100%;
    }

    .manager {
        height: 100%;
    }

    .manager-left {
        background: #0F0F1C;
    }

    .manager-right {
        background: #151623;
        padding: 40px;

        P {
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}