@media (max-width: 992px) {
  .manager-section {
    height: auto;
  }
  .gallery-section {
    height: auto;
  }
  .booking-section {
    height: auto;
    padding-bottom: 10vh;
  }
  .service-section .row {
    flex-direction: column;
  }
  .service-section .row .service {
    height: 50vh;
    padding-top: 2rem !important;
  }
  .service-section .row .service .svg {
    width: 30vw;
    padding-bottom: 20px !important;
  }
  .service-section .row .col-12:nth-child(2) {
    background-size: 100%;
    background-position: 0px center !important;
  }
  .logo {
    width: 20vw !important;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .plane-section {
    position: relative;
    top: -40%;
    right: 130vw;
    width: 250px;
  }
  .service-section .row {
    flex-direction: column;
  }
  .service-section .row .service {
    height: auto;
    padding-top: 2rem !important;
  }
  .service-section .row .service .svg {
    width: 30vw;
    padding-bottom: 20px !important;
  }
  .service-section .row .col-12:nth-child(2) {
    background-position: 0px center !important;
  }
  .hero-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero-footer .hero-footer-left p {
    font-size: 10vw;
  }
  .hero-footer .hero-footer-right {
    display: flex;
    flex-direction: column;
  }
  .hero-footer .hero-footer-right button {
    margin: 5px 0;
  }
  .footer-left {
    margin: auto;
    text-align: center;
  }
  .footer-bottom .col-md-5 {
    margin-left: -10px;
    padding-left: 0px;
  }
  #menu-close {
    display: block !important;
  }
  .hide {
    display: none;
  }
  .logo {
    width: 30% !important;
  }
  .nav .main-nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
    padding: 2rem 0;
    height: 100vh;
    background: #000;
    z-index: 999;
  }
  .nav .main-nav ul #menu-close {
    color: #fff;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  .nav .main-nav ul #menu-close a {
    padding: 0 auto;
    font-size: 1.4rem;
  }
  .nav .main-nav ul li {
    padding: 1.2rem 0;
  }
  .nav .main-nav ul li a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
  }
  .nav .main-nav ul li a:hover {
    color: #1E9CB2 !important;
    font-weight: 600;
  }
  .features-title {
    font-size: 2rem;
  }
  .destination-section .place .row {
    margin: 1.4rem 0;
  }
  .destination-section .place-title {
    font-size: 1rem !important;
  }
  .manager-section .row {
    flex-direction: column;
  }
  .manager-section .row .manager h1 {
    font-size: 1.5rem;
  }
  .manager-section .row .manager p {
    margin-top: 16px;
    font-weight: normal;
  }
  .experience {
    margin-top: 3rem;
  }
  .experience .experience-desc {
    width: 100% !important;
    margin: auto;
    margin-bottom: 3rem;
  }
  .experience .experience-desc p {
    font-size: 1rem !important;
  }
  .experience .cards {
    justify-content: space-evenly;
  }
  .experience .cards .icon-card {
    position: relative;
    margin-left: -25px !important;
  }
  .experience .cards .card-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .experience .cards .card-icon i {
    text-align: center;
    font-size: 35px !important;
  }
  .experience .cards h2 {
    font-size: 1rem !important;
  }
  .experience .cards p {
    font-size: 0.6rem !important;
  }
  .footer-logo {
    text-align: center;
    padding: 2rem;
  }
  .footer-logo span {
    font-size: 3rem !important;
  }
  .social-icons {
    margin-bottom: 2.5rem !important;
  }
  .social-icons ul li {
    width: 30px;
    margin-right: 1.3em !important;
  }
  .social-icons ul li i {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 20px !important;
  }
  .footer-link h2 {
    font-size: 20px !important;
  }
  .footer-link ul li a {
    font-size: 16px !important;
  }
  .importatnt-link {
    padding-top: 20px !important;
  }
  .footer-bottom {
    margin-top: 20px;
  }
  .footer-bottom .copyright {
    font-size: 16px !important;
  }
  .footer-bottom .sshh5h {
    font-size: 14px !important;
  }
  .footer-right .tc ul li {
    font-size: 14px !important;
  }
  .footer-right p {
    display: none;
  }
}/*# sourceMappingURL=responsive.css.map */